<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_Karaoke.Properties.Settings.KaraokeConnectionString"
            connectionString="Data Source=DESKTOP-U6O2G05\SQLEXPRESS;Initial Catalog=Karaoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_Karaoke.Properties.Settings.KaraokeConnectionString1"
            connectionString="Data Source=LAPTOP-84C1VA9C\SQLEXPRESS;Initial Catalog=Karaoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_Karaoke.Properties.Settings.KaraokeConnectionString2"
            connectionString="Data Source=DESKTOP-1RSU3BD\SQLEXPRESS;Initial Catalog=Karaoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>